<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard 3</title>

    <!-- Fontfaces CSS-->
    <link href="{{ asset('agent/css/font-face.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ asset('agent/vendor/bootstrap-4.1/bootstrap.min.css') }}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ asset('agent/vendor/animsition/animsition.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/wow/animate.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/slick/slick.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('agent/vendor/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ asset('agent/css/theme.css') }}" rel="stylesheet" media="all">
    {% block stylesheets %}{% endblock %}
</head>

<body class="animsition">
{% include 'agent/inc/header.html.twig' %}
<div class="page-wrapper">
    {% block body %}{% endblock %}
</div>
{% include 'agent/inc/footer.html.twig' %}
<!-- JS here -->

<!-- Jquery JS-->
<script src="{{ asset('agent/vendor/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap JS-->
<script src="{{ asset('agent/vendor/bootstrap-4.1/popper.min.js') }}"></script>
<script src="{{ asset('agent/vendor/bootstrap-4.1/bootstrap.min.js') }}"></script>
<!-- Vendor JS       -->
<script src="{{ asset('agent/vendor/slick/slick.min.js') }}"></script>
<script src="{{ asset('agent/vendor/wow/wow.min.js') }}"></script>
<script src="{{ asset('agent/vendor/animsition/animsition.min.js') }}"></script>
<script src="{{ asset('agent/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
<script src="{{ asset('agent/vendor/counter-up/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('agent/vendor/counter-up/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('agent/vendor/circle-progress/circle-progress.min.js') }}"></script>
<script src="{{ asset('agent/vendor/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ asset('agent/vendor/chartjs/Chart.bundle.min.js') }}"></script>
<script src="{{ asset('agent/vendor/select2/select2.min.js') }}"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCqX6jU37gEKV1NCl8uOOSgEDF6cT9gNw&callback=initAutocomplete&libraries=places"
        defer
></script>

<!-- Main JS-->
<script src="{{ asset('agent/js/main.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
