{% extends 'agent/base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('agent/search/css/main.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('footballer/css/linearicons.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/main.css')}}">

    <link rel="shortcut icon" href="footballer/{{ asset('footballer/img/fav.png') }}">
{% endblock %}
{% block body %}
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Changement de mot de passe
                    </h1>
                    <hr class="line-seprate">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="edit-block">
                    <form id="education" action="{{ path('agent_password') }}" class="form-inline" method="post">
                        <div class="row flex-column">
                            <div class="form-group">
                                <label for="my-mot-de-passe">Ancien mot de passe</label>
                                <input id="my-mot-de-passe" class="form-control input-group-lg" type="password" name="old-password" title="Enter mot de passe" placeholder="Ancien mot de passe"/>
                            </div>
                            <div class="form-group">
                                <label>Nouveau mot de passe</label>
                                <input class="form-control input-group-lg" type="password" name="new-password" title="Entrer votre nouveau mot de passe" placeholder="Nouveau mot de passe"/>
                            </div>
                            <div class="form-group">
                                <label>Confirmez votre nouveau mot de passe</label>
                                <input class="form-control input-group-lg" type="password" name="confirm-new-password" title="Confirmez votre mot de passe" placeholder="Confirmez votre nouveau mot de passe"/>
                            </div>
                            <button name="button-password" class="btn btn-primary">Modifier le mot de passe</button>
                        </div>
                        <div class="row">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('agent/search/js/extention/choices.js') }}"></script>
<script>
    const choices = new Choices('[data-trigger]',
        {
            searchEnabled: false,
            itemSelectText: '',
        });

</script>
<script src="{{ asset('agent/search/js/extention/flatpickr.js') }}"></script>
<script>
    flatpickr(".datepicker",
        {
            dateFormat: "m/d/y"
        });
    var btnTypes = document.querySelectorAll('.travel-type-wrap .item')
    for (var i = 0; i < btnTypes.length; i++)
    {
        btnTypes[i].addEventListener('click', function()
        {
            for (var i = 0; i < btnTypes.length; i++)
            {
                btnTypes[i].classList.remove('active')
            }
            btnTypes[i].classList.add('active')
        })
    }

</script>
{% endblock %}