{% extends 'agent/base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('agent/search/css/main.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('footballer/css/linearicons.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/main.css')}}">

    <link rel="shortcut icon" href="footballer/{{ asset('footballer/img/fav.png') }}">
{% endblock %}
{% block body %}
    <!-- PAGE CONTENT-->
    <div class="page-content--bgf7">
        <!-- WELCOME-->
        <section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">
                            Espace agent de joueur et club
                        </h1>
                        <hr class="line-seprate">
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->

        <!-- Start portfolio-area Area -->
        <section class="portfolio-area section-gap" id="portfolio">
            <div class="container">
                <div class="filters-content">
                    <div class="row grid">
                        {% for footballer in footballers %}
                            <div class="single-portfolio col-sm-2 all corporate">
                                <a href="{{ path('footballer_view_footballer_profil',{'id':footballer.id}) }}">
                                    <div class="item">
                                        {% if app.session.get('footballer_profil_photo') is not null %}
                                            <img src="{{ asset(footballer_photo_profil_directory~'/'~footballer.user.account.id~'/'~footballer.user.profilPhoto) }}">
                                        {% else %}
                                            <img src="{{ asset('img/default/profil-footballer.png') }}"/>
                                        {% endif %}
                                        <div class="p-inner">
                                            <h4>{{ footballer.user.name }} {{ footballer.user.firstName }}</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        {% if footballers | length == 0 %}
                            <h3>Aucun footballeur ne correspond à votre recherche</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!-- End portfolio-area Area -->

        <!-- COPYRIGHT-->
        <section class="p-t-60 p-b-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END COPYRIGHT-->
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('agent/search/js/extention/choices.js') }}"></script>
    <script>
        const choices = new Choices('[data-trigger]',
            {
                searchEnabled: false,
                itemSelectText: '',
            });

    </script>
    <script src="{{ asset('agent/search/js/extention/flatpickr.js') }}"></script>
    <script>
        flatpickr(".datepicker",
            {
                dateFormat: "m/d/y"
            });
        var btnTypes = document.querySelectorAll('.travel-type-wrap .item')
        for (var i = 0; i < btnTypes.length; i++)
        {
            btnTypes[i].addEventListener('click', function()
            {
                for (var i = 0; i < btnTypes.length; i++)
                {
                    btnTypes[i].classList.remove('active')
                }
                btnTypes[i].classList.add('active')
            })
        }

    </script>
{% endblock %}
