{% extends 'agent/base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('agent/search/css/main.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('footballer/css/linearicons.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/owl.carousel.css')}}">
    <link rel="stylesheet" href="{{ asset('footballer/css/main.css')}}">
    <link rel="shortcut icon" href="footballer/{{ asset('footballer/img/fav.png') }}">
{% endblock %}
{% block body %}
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Changer ma photo de profil
                    </h1>
                    <hr class="line-seprate">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="col-md-12">
                        {% if app.user.user is not null %}
                            <img style="width: 50px;border-radius: 50px" src="{{ asset(agent_photo_profil_directory~'/'~app.user.id~'/'~app.user.user.profilPhoto) }}" alt="{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}" />
                        {% else %}
                            <img style="width: 50px;border-radius: 50px" src="{{ asset('img/default/profil-agent.png') }}"/>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        {{ form_start(form) }}
                            <div class="row flex-column">
                                <label>Photo de profil</label>
                                {{ form_row(form.photoProfil, {'label': false,'attr': {'class': 'test'}}) }}
                                <button class="btn btn-primary">Enregistrer</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script>
        $(function (){
            $('.custom-file input').removeClass('custom-file-input')
            $('.custom-file label').removeClass('custom-file-label')
        })
    </script>
{% endblock %}
