<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ asset('img/favicone.ico') }}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/vendor/bootstrap/css/bootstrap.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/vendor/select2/select2.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('security/css/main.css') }}">
	<!--===============================================================================================-->
</head>
<body>

<div class="limiter" id="pre-signup">
	<section class="container-login100 flex-column">
		<div class="d-flex justify-content-around flex-wrap">
			<div class="item-footballer-manager">
				<h1>Félicitations et BIENVENUE chez skillfoot !</h1>
				<p>Connectez-vous dès maintenant en cliquant ici : <a class="btn" style="background-color: #c72020;color: black;border: 2px solid;" href="{{ path('login') }}">Se connecter</a></p>
			</div>
		</div>
	</section>
</div>
</body>
</html>
