<!DOCTYPE html>
<html lang="en">
<head>
	<title>Skillfoot - Footballeur ou recruteur</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ asset('img/favicone.icoimg/favicone.icoimg/favicone.icoimg/favicone.icoimg/favicone.ico') }}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/vendor/bootstrap/css/bootstrap.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/vendor/animate/animate.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/vendor/css-hamburgers/hamburgers.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/vendor/select2/select2.min.css') }}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ asset('security/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('security/css/main.css') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">

	<!--===============================================================================================-->
</head>
<body>
{% include 'inc/header.html.twig' %}
<div class="limiter" id="pre-signup">
	<section class="container-login100 flex-column">
		<h1>Vous êtes un</h1>
		<div class="d-flex justify-content-around flex-wrap">
			<div class="item-footballer-manager">
				<a href="{{ path('signup', {who:'footballer'}) }}">
					<img style="width: 70%;" src="{{ asset('security/images/footballer.png') }}" alt="IMG">
					<p>Footballeur</p>
				</a>
			</div>
			<div class="item-footballer-manager">
				<a href="{{ path('signup', {who:'agent'}) }}">
					<img style="width: 70%;" src="{{ asset('security/images/agent.png') }}" alt="IMG">
					<p>Recruteur</p>
				</a>
			</div>
		</div>
	</section>
</div>

</body>
</html>
