<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>SkillFoot - Réseau social - Footballer</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="{{ asset("socialNetwork/css/bootstrap.min.css") }}" />
    <link rel="stylesheet" href="{{ asset("socialNetwork/css/style.css") }}" />
    <link rel="stylesheet" href="{{ asset("socialNetwork/css/ionicons.min.css") }}" />
    <link rel="stylesheet" href= "{{ asset("socialNetwork/css/font-awesome.min.css") }}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicone.ico') }}"/>
</head>
<body>
{% if is_granted('ROLE_USER') %}
    {{ render(controller(
        'App\\Controller\\FootballerController::formUser'
    )) }}
{% endif %}

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>
{% block header %}
    {% include ('socialNetwork/inc/header.html.twig') %}
{% endblock %}
{% block body %}
{% endblock %}

{% block popupfriendsonline %}
    <div id="popupfriendsonline" style="display: none;"></div>
{% endblock %}

{% block footer %}
    <div style="display:none;" class="phone-menu mobile-menu-social-network">
        <div><i class="fa fa-home"></i><a href="{{ path("footballer_post_feed") }}">Accueil</a></div>
        <div><i class="fa fa-envelope"></i><a class="message-title" href="{{ path('social_network_show_conversations') }}">Mes messages {% if app.user.user is not null %}{% if app.user.user.notifyMessage == 1 %}<i class="fa fa-comment"></i>{% endif %}{% endif %}</a></div>
        <div><i class="fa fa-user"></i><a href="{{ path('footballer_post_my_post') }}">Mon mur</a></div>
        <div><i class="fa fa-address-card"></i><a href="{{ path('footballer_editCareer')}}">Ma carrière</a></div>
    </div>
    {% include ('socialNetwork/inc/footer.html.twig') %}
{% endblock %}

<!-- Scripts
 ================================================= -->
<script src="{{ asset("socialNetwork/js/jquery-3.1.1.min.js") }}"></script>
<script src="{{ asset("socialNetwork/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("socialNetwork/js/jquery.appear.min.js") }}"></script>
<script src="{{ asset("socialNetwork/js/jquery.incremental-counter.js") }}"></script>
<script src="{{ asset("socialNetwork/js/script.js") }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBthDcw86Rl-KjMtT47sKZO3ocUeyw03o8&callback=initAutocomplete&libraries=places"
        defer
></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="{{ asset('js/translate/summernote.js') }}"></script>
<script>
    $(function (){
        //PHOTO DE PROFIL
        $('.img-wrapper-profil').click(function (){
            $('#user_photo_photoProfil').trigger('click');
        })

        $('.img-wrapper-profil-responsive').click(function (){
            $('#user_photo_photoProfil').trigger('click');
        })

        $('#user_photo_photoProfil').change(function (){
            $('form[name=user_photo]').submit();
        })

        //PHOTO DE COUVERTURE
        $('.cover-photo-button').click(function (){
            $('#cover_photo_coverPhoto').trigger('click');
        })

        $('#cover_photo_coverPhoto').change(function (){
            $('form[name=cover_photo]').submit();
        })
        {% if app.user is not null %}
        {% if app.user.user is not null %}
        {% if app.user.user.footballer is not null %}
        //REQUETE AJAX POUR RECUPERER LES AMIS CONNECTE
        $.ajax({
            url : "{{ path('footballer_friends_online') }}",
            type : 'POST',
            success : function (serverResponse) {
                var results = Object.values(serverResponse);
                var online_button = '{{ asset('socialNetwork/images/online-button.png') }}';
                $('#popupfriendsonline').append("<div id='call-us-cta' class='animated fadeInUp'><div class='title'>Amis en ligne ("+results.length+")</div><div id='block-online-footballer'><div class='nobody-online'></div></div></div>");
                if(results.length == 0){
                    $('#block-online-footballer .nobody-online').html("<span>Aucun ami n'est connecté</span></div>");
                }else{
                    $('.nobody-online').html("");
                    for (var i = 0; i < results.length; i++) {
                        var link = '{{ path('footballer_view_profil', {'id':123456789}) }}';
                        link = link.replace("123456789", results[i]['footballer']);
                        $('#block-online-footballer').append("<div style='position: relative' class='friend-online' data-id='"+results[i]['id']+"'><a href='"+link+"'><span>"+results[i]['nom-prenom']+"</span><img src='"+results[i]['photo']+"' alt=''><img style='position: absolute' src='"+online_button+"' class='online-button' alt=''></a></div>");
                    }
                }
            }
        })

        //ON INITIALISE L'URL DE MERCURE
        const url = new URL('{{ mercure_publish_url }}');
        //ON AJOUTE LE TOPIC CORRESPONDANT A NOS NOTIFICATION DE CHAT
        url.searchParams.append('topic', 'https://skillfoot.fr/users/online/{{ app.user.user.footballer.id }}')
        //ECOUTEUR DE LURL DE MERCURE
        const eventSource = new EventSource(url, { withCredentials: true });

        eventSource.onmessage = e => {
            var result = JSON.parse(e.data);
            var online_button = '{{ asset('socialNetwork/images/online-button.png') }}';

            var flag = 0;
            $('.friend-online').each(function (e){
                if($(this).attr('data-id') == result['id']){
                    flag = 1;
                }
            })

            if(flag == 0){
                $('.nobody-online').html("");
                $('#block-online-footballer').append("<div class='friend-online' data-id='"+result['id']+"' style='position: relative'><span>"+result['nom-prenom']+"</span><img src='"+result['photo']+"' alt=''><img style='position: absolute' src='"+online_button+"' class='online-button' alt=''> </div>");
            }
        }

        //Fermer l'event source avant de quitter la page
        window.addEventListener('beforeunload', function (){
            if(eventSource != null){
                eventSource.close()
            }
        })

        url.searchParams.append('topic', 'https://skillfoot.fr/users/logout/{{ app.user.user.footballer.id }}')
        //ECOUTEUR DE LURL DE MERCURE
        const eventSource2 = new EventSource(url, { withCredentials: true });

        eventSource2.onmessage = e => {
            var result = JSON.parse(e.data);

            $('.friend-online').each(function (e){
                if($(this).attr('data-id') == result['id']){
                    $(this).remove()
                }
            })
            if($('.friend-online').length == 0){
                $('#block-online-footballer .nobody-online').html("<span>Aucun ami n'est connecté</span>");
            }
        }

        //Fermer l'event source avant de quitter la page
        window.addEventListener('beforeunload', function (){
            if(eventSource2 != null){
                eventSource2.close()
            }
        })

        if(!window.location.href.includes('/footballer-social-network/show-conversations')) {
            //ON INITIALISE L'URL DE MERCURE
            const url3 = new URL('{{ mercure_publish_url }}');
            //ON AJOUTE LE TOPIC CORRESPONDANT A NOS NOTIFICATION DE CHAT
            url3.searchParams.append('topic', 'https://skillfoot.fr/users/private-message')

            //ECOUTEUR DE LURL DE MERCURE
            const eventSource3 = new EventSource(url3, {withCredentials: true});

            eventSource3.onmessage = e => {
                var serverResponse3 = JSON.parse(e.data);
                if (serverResponse3 != false) {
                    if(serverResponse3.id != {{ app.user.user.id }}){
                        $('.message-title').each(function(){
                            $(this).html('Mes messages <i class="fa fa-comment"></i>');
                        });
                    }

                }
            }

            //Fermer l'event source avant de quitter la page
            window.onbeforeunload = function () {
                if (eventSource3 != null) {
                    eventSource3.close()
                }
            }
        }

        if(!window.location.href.includes('/footballer-social-network/show-conversations')) {
            //ON INITIALISE L'URL DE MERCURE
            const url4 = new URL('{{ mercure_publish_url }}');
            //ON AJOUTE LE TOPIC CORRESPONDANT A NOS NOTIFICATION DE CHAT
            url4.searchParams.append('topic', 'https://skillfoot.fr/users/new-conversation')

            //ECOUTEUR DE LURL DE MERCURE
            const eventSource4 = new EventSource(url4, {withCredentials: true});

            eventSource4.onmessage = e => {
                var serverResponse4 = JSON.parse(e.data);
                if (serverResponse4 != false) {
                    if(serverResponse4.id != {{ app.user.user.id }}){
                        $('.message-title').each(function(){
                            $(this).html('Mes messages <i class="fa fa-comment"></i>');
                        });
                    }

                }
            }

            //Fermer l'event source avant de quitter la page
            window.onbeforeunload = function () {
                if (eventSource4 != null) {
                    eventSource4.close()
                }
            }
        }

        {% endif %}
        {% endif %}
        {% endif %}
        $("#search-footballer").autocomplete({
            source: function( request, response ) {
                $.ajax( {
                    url: "{{ path('footballer_search_footballer') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function( data ) {
                        var results = $.ui.autocomplete.filter(data, request.term);
                        response(results.slice(0, 10));
                        // response( data );
                    }
                } );
            },
            minLength: 2,
            select: function( event, ui ) {
                // alert( "Selected: " + ui.item.value + " aka " + ui.item.id );
                var href = $('#link-search-footballer').attr('href');
                $('#link-search-footballer').attr('href', href.replace("9999999999", ui.item.id));
                window.location.href = $('#link-search-footballer').attr('href');
            }
        });

        $("#search-footballer-no-found").autocomplete({
            source: function( request, response ) {
                $.ajax( {
                    url: "{{ path('footballer_search_footballer') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function( data ) {
                        var results = $.ui.autocomplete.filter(data, request.term);
                        response(results.slice(0, 10));
                        // response( data );
                    }
                } );
            },
            minLength: 2,
            select: function( event, ui ) {
                // alert( "Selected: " + ui.item.value + " aka " + ui.item.id );
                var href = $('#link-search-footballer').attr('href');
                $('#link-search-footballer').attr('href', href.replace("9999999999", ui.item.id));
                window.location.href = $('#link-search-footballer').attr('href');
            }
        });

        $(".block-search .ion-android-search").click(function (){
            var search = $("#search-footballer").val();
            if(search.trim().length > 1){
                $('#form-search-footballer').submit();
            }
        });

        $('.add-footballer').click(function (){
            var ifootballer = $(this).find('i');
            if(!$(this).hasClass('active')){
                $(this).addClass('active');
                $.ajax({
                    url : "{{ path('footballer_add_friend_submission') }}",
                    type : "POST",
                    data: {
                        "id":$(this).attr('data-id')
                    },
                    success : function (serverResponse){
                        if(serverResponse){
                            ifootballer.css('color','green');
                        }
                    },
                    error : function (){
                        alert('Une erreur est survenue')
                    }
                })
            }

        });

        $('#blocked-modal').click(function (){
            $('#blocked').css({ "display": "flex", "align-items": "center", "justify-content": "center" });
        });

        if(window.location.href.includes('footballer-profil/my-post/')){
            $('.my-post').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer-profil/profil/')){
            $('.personal-information').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer-profil/footballer-profil/')){
            $('.profil-footballer').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer-profil/career/')){
            $('.career-footballer').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer-profil/picture/')){
            $('.photo-link').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer-profil/video/')){
            $('.video-link').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballeur-post/my-post')){
            $('.my-post').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer/edit-profil')){
            $('.personal-information').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer/edit-footballer-profil')){
            $('.profil-footballer').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer/edit-career')){
            $('.career-footballer').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer/picture')){
            $('.photo-link').css({'color': 'red', 'font-weight': 'bold' });
        }
        if(window.location.href.includes('footballer/video')){
            $('.video-link').css({'color': 'red', 'font-weight': 'bold' });
        }

        ;

    })
</script>
<script>
    var url_post_img = '{{ path('footballer_post_add_post_img') }}';
    var url_add_comment = '{{ path('footballer_post_add_comment') }}';
    var url_remove_comment = '{{ path('footballer_post_remove_comment') }}';
    var url_post_like = '{{ path('footballer_post_like') }}'
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
