<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>SkillFoot - Réseau social - Footballer</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="{{ asset("socialNetwork/css/bootstrap.min.css") }}" />
    <link rel="stylesheet" href="{{ asset("socialNetwork/css/style.css") }}" />
    <link rel="stylesheet" href="{{ asset("socialNetwork/css/ionicons.min.css") }}" />
    <link rel="stylesheet" href= "{{ asset("socialNetwork/css/font-awesome.min.css") }}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% block css %}{% endblock %}

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png"/>
</head>
<body>
{% if is_granted('ROLE_USER') %}
{{ render(controller(
    'App\\Controller\\FootballerController::formUser'
)) }}
{% endif %}

<!--preloader-->
{#<div id="spinner-wrapper">#}
{#    <div class="spinner"></div>#}
{#</div>#}
{% block header %}
    {% include ('socialNetwork/inc/header.html.twig') %}
{% endblock %}
{% block body %}
{% endblock %}

{% block popupfriendsonline %}
    <div id="popupfriendsonline"></div>
{% endblock %}

{% block footer %}
    {% include ('socialNetwork/inc/footer.html.twig') %}
{% endblock %}

<!-- Scripts
 ================================================= -->
<script src="{{ asset("socialNetwork/js/jquery-3.1.1.min.js") }}"></script>
<script src="{{ asset("socialNetwork/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("socialNetwork/js/jquery.appear.min.js") }}"></script>
<script src="{{ asset("socialNetwork/js/jquery.incremental-counter.js") }}"></script>
<script src="{{ asset("socialNetwork/js/script.js") }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCqX6jU37gEKV1NCl8uOOSgEDF6cT9gNw&callback=initAutocomplete&libraries=places"
        defer
></script>
<script>
    $(function (){
        //PHOTO DE PROFIL
        $('.img-wrapper-profil').click(function (){
            $('#user_photo_photoProfil').trigger('click');
        })

        $('.img-wrapper-profil-responsive').click(function (){
            $('#user_photo_photoProfil').trigger('click');
        })

        $('#user_photo_photoProfil').change(function (){
            $('form[name=user_photo]').submit();
        })

        //PHOTO DE COUVERTURE
        $('.cover-photo-button').click(function (){
            $('#cover_photo_footballer_coverPhoto').trigger('click');
        })

        $('#cover_photo_footballer_coverPhoto').change(function (){
            $('form[name=cover_photo_footballer]').submit();
        })
        {% if app.user is not null %}
        {% if app.user.user is not null %}
        {% if app.user.user.footballer is not null %}
        //REQUETE AJAX POUR RECUPERER LES AMIS CONNECTE
        $.ajax({
            url : "{{ path('footballer_friends_online') }}",
            type : 'POST',
            success : function (serverResponse) {
                var results = Object.values(serverResponse);
                var online_button = '{{ asset('socialNetwork/images/online-button.png') }}';
                $('#popupfriendsonline').append("<div id='call-us-cta' class='animated fadeInUp'><div class='title'>Amis en ligne ("+results.length+")</div><div id='block-online-footballer'><div class='nobody-online'></div></div></div>");
                if(results.length == 0){
                    $('#block-online-footballer .nobody-online').html("<span>Aucun ami n'est connecté</span></div>");
                }else{
                    $('.nobody-online').html("");
                    for (var i = 0; i < results.length; i++) {
                        var link = '{{ path('footballer_view_profil', {'id':123456789}) }}';
                        link = link.replace("123456789", results[i]['footballer']);
                        $('#block-online-footballer').append("<div style='position: relative' class='friend-online' data-id='"+results[i]['id']+"'><a href='"+link+"'><span>"+results[i]['nom-prenom']+"</span><img src='"+results[i]['photo']+"' alt=''><img style='position: absolute' src='"+online_button+"' class='online-button' alt=''></a></div>");
                    }
                }
            }
        })

        //ON INITIALISE L'URL DE MERCURE
        const url = new URL('{{ mercure_publish_url }}');
        //ON AJOUTE LE TOPIC CORRESPONDANT A NOS NOTIFICATION DE CHAT
        url.searchParams.append('topic', 'http://skillfoot.fr/users/online/{{ app.user.user.footballer.id }}')
        //ECOUTEUR DE LURL DE MERCURE
        const eventSource = new EventSource(url, { withCredentials: true });

        eventSource.onmessage = e => {
            var result = JSON.parse(e.data);
            console.log(result);
            var online_button = '{{ asset('socialNetwork/images/online-button.png') }}';

            var flag = 0;
            $('.friend-online').each(function (e){
                if($(this).attr('data-id') == result['id']){
                    flag = 1;
                }
            })

            if(flag == 0){
                $('.nobody-online').html("");
                $('#block-online-footballer').append("<div class='friend-online' data-id='"+result['id']+"' style='position: relative'><span>"+result['nom-prenom']+"</span><img src='"+result['photo']+"' alt=''><img style='position: absolute' src='"+online_button+"' class='online-button' alt=''> </div>");
            }
        }

        //Fermer l'event source avant de quitter la page
        window.addEventListener('beforeunload', function (){
            if(eventSource != null){
                eventSource.close()
            }
        })

        url.searchParams.append('topic', 'http://skillfoot.fr/users/logout/{{ app.user.user.footballer.id }}')
        //ECOUTEUR DE LURL DE MERCURE
        const eventSource2 = new EventSource(url, { withCredentials: true });

        eventSource2.onmessage = e => {
            var result = JSON.parse(e.data);

            $('.friend-online').each(function (e){
                if($(this).attr('data-id') == result['id']){
                    $(this).remove()
                }
            })
            if($('.friend-online').length == 0){
                $('#block-online-footballer .nobody-online').html("<span>Aucun ami n'est connecté</span>");
            }
        }

        //Fermer l'event source avant de quitter la page
        window.addEventListener('beforeunload', function (){
            if(eventSource2 != null){
                eventSource2.close()
            }
        })

        {% endif %}
        {% endif %}
        {% endif %}
        $("#search-footballer").autocomplete({
            source: function( request, response ) {
                $.ajax( {
                    url: "{{ path('footballer_search_footballer') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function( data ) {
                        var results = $.ui.autocomplete.filter(data, request.term);
                        response(results.slice(0, 10));
                        // response( data );
                    }
                } );
            },
            minLength: 2,
            select: function( event, ui ) {
                // alert( "Selected: " + ui.item.value + " aka " + ui.item.id );
                var href = $('#link-search-footballer').attr('href');
                $('#link-search-footballer').attr('href', href.replace("9999999999", ui.item.id));
                window.location.href = $('#link-search-footballer').attr('href');
            }
        });

        $("#search-footballer-no-found").autocomplete({
            source: function( request, response ) {
                $.ajax( {
                    url: "{{ path('footballer_search_footballer') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function( data ) {
                        var results = $.ui.autocomplete.filter(data, request.term);
                        response(results.slice(0, 10));
                        // response( data );
                    }
                } );
            },
            minLength: 2,
            select: function( event, ui ) {
                // alert( "Selected: " + ui.item.value + " aka " + ui.item.id );
                var href = $('#link-search-footballer').attr('href');
                $('#link-search-footballer').attr('href', href.replace("9999999999", ui.item.id));
                window.location.href = $('#link-search-footballer').attr('href');
            }
        });

        $(".block-search .ion-android-search").click(function (){
            var search = $("#search-footballer").val();
            if(search.trim().length > 1){
                $('#form-search-footballer').submit();
            }
        });

        $('#add-footballer').click(function (){
            var ifootballer = $(this).find('i');
            if(!$(this).hasClass('active')){
                $(this).addClass('active');
                $.ajax({
                    url : "{{ path('footballer_add_friend_submission') }}",
                    type : "POST",
                    data: {
                        "id":$(this).attr('data-id')
                    },
                    success : function (serverResponse){
                        if(serverResponse){
                            ifootballer.css('color','#ff1313');
                        }
                    },
                    error : function (){
                        alert('Une erreur est survenue')
                    }
                })
            }

        });

    })
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
