{% extends 'socialNetwork/base.html.twig' %}
{% block body %}
  <div class="container main-container">
    <!-- Timeline
    ================================================= -->
    <div class="timeline">
      {% include('socialNetwork/inc/timeline-footballer.html.twig') %}
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3">

            <!--Edit Profile Menu-->
            {% include('socialNetwork/inc/edit-menu-profil.html.twig') %}
          </div>
          <div class="col-md-7" style="padding-top: 0;padding: 0 30px;">

            <!-- Basic Information
            ================================================= -->
            <div class="edit-profile-container">
              <div class="block-title">
                <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Informations personnelles</h4>
                {% for message in app.flashes('success') %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
              <div class="edit-block">
                {{ form_start(form, {'attr': {'class': 'register-form', 'id':'register-form'}}) }}
                <div class="row">
                  <label>Nom</label>
                  {{ form_row(form.name, {'label': false,'attr': {'placeholder': 'Nom', 'class': ''}}) }}

                  <label>Prénom</label>
                  {{ form_row(form.firstName, {'label': false,'attr': {'placeholder': 'Prénom', 'class': ''}}) }}

                  <label>Date de naissance</label>
                  {{ form_row(form.dateOfBirth, {'label': false,'attr': {'placeholder': 'Date de naissance', 'class': ''}}) }}

                  <label>Téléphone</label>
                  {{ form_row(form.account, {'label': false,'attr': {'placeholder': 'Téléphone', 'class': ''}}) }}

                  <label>Ville</label>
                  {{ form_row(form.city, {'label': false, 'id': 'autocomplete', 'attr': {'placeholder': 'Ville ou code postal', 'class': ''}}) }}

                  {{ form_row(form.longitude, {'label': false}) }}

                  {{ form_row(form.latitude, {'label': false}) }}

                  <label>Code postal</label>
                  {{ form_row(form.zipCode, {'label': false, 'id': 'zipcode', 'attr': {'placeholder': 'Veuillez remplir la ville', 'class': '', 'readonly': 'true'}}) }}

                  <label>Sexe</label>
                  {{ form_row(form.sexe, {'label': false,'attr': {'placeholder': 'Sexe', 'class': ''}}) }}

                  <button class="btn btn-primary">Enregistrer</button>
                  {{ form_end(form) }}
                </div>
              </div>
            </div>
            <div class="col-md-2 static">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    let autocomplete;
    let autocomplete2;

    function initAutocomplete() {
      // Create the autocomplete object, restricting the search predictions to
      // geographical location types.
      autocomplete = new google.maps.places.Autocomplete(
              document.getElementById("autocomplete"),
              {
                types: ['(regions)'],
                componentRestrictions: {country: "fr"}
              }
      );
      // Avoid paying for data that you don't need by restricting the set of
      // place fields that are returned to just the address components.
      // autocomplete.setFields(["geometry"]);
      // When the user selects an address from the drop-down, populate the
      // address fields in the form.
      autocomplete.addListener("place_changed", fillInAddress);

      autocomplete2 = new google.maps.places.Autocomplete(
              document.getElementById("autocomplete2"),
              {
                types: ['(regions)'],
                componentRestrictions: {country: "fr"}
              }
      );
      // Avoid paying for data that you don't need by restricting the set of
      // place fields that are returned to just the address components.
      // autocomplete2.setFields(["geometry"]);
      // When the user selects an address from the drop-down, populate the
      // address fields in the form.
      autocomplete2.addListener("place_changed", fillInAddress);
    }

    function fillInAddress() {
      // Get the place details from the autocomplete object.
      const place = autocomplete.getPlace();
      const place2 = autocomplete2.getPlace();

      var flag = 0;
      for (var i = 0; i < place.address_components.length; i++) {
        for (var j = 0; j < place.address_components[i].types.length; j++) {
          if (place.address_components[i].types[j] == "postal_code") {
            $('#zipcode').val(place.address_components[i].long_name);
            flag = 1;
          }
        }
      }

      if(flag == 0) $('#zipcode').val("");

      var flag = 0;
      for (var i = 0; i < place2.address_components.length; i++) {
        for (var j = 0; j < place2.address_components[i].types.length; j++) {
          if (place2.address_components[i].types[j] == "postal_code") {
            $('#zipcode2').val(place2.address_components[i].long_name);
            flag = 1;
          }
        }
      }

      if(flag == 0) $('#zipcode2').val("");

      if(typeof place !== 'undefined'){
        if (!place.geometry) {
          window.alert("Veuillez sélectionner une autre adresse");
          return;
        }else{
          $('#user_longitude').val(place.geometry.location.lng());
          $('#user_latitude').val(place.geometry.location.lat());
        }
      }

      if(typeof place2 !== 'undefined'){
        if (!place2.geometry) {
          window.alert("Veuillez sélectionner une autre adresse");
          return;
        } else {
          $('#user_longitude2').val(place2.geometry.location.lng());
          $('#user_latitude2').val(place2.geometry.location.lat());
        }
      }
    }
  </script>
{% endblock %}
