{% if app.user is not null %}
    {% if app.user.user is null %}
        <style>
            body{
                overflow-y: hidden;
            }
        </style>
        <div class="edit-profile-container-modal">
            <div class="edit-block">
                {{ form_start(form, {'attr': {'action': path('footballer_form_user_submission' )} }) }}
                <div class="row">
                    <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Informations personnelles</h4>
                    <p><i class="fa fa-bell" style="color: #c30000"></i> Veuillez remplir les informations suivantes pour poursuivre</p>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ form_row(form.name, {'label': false,'attr': {'placeholder': 'Nom', 'class': ''}}) }}

                    {{ form_row(form.firstName, {'label': false,'attr': {'placeholder': 'Prénom', 'class': ''}}) }}

                    <label for="">Date de naissance</label>
                    {{ form_row(form.dateOfBirth, {'label': false,'attr': {'placeholder': 'Date de naissance', 'class': ''}}) }}

                    {{ form_row(form.account, {'label': false,'attr': {'placeholder': 'Téléphone', 'class': ''}}) }}

                    {{ form_row(form.city, {'label': false, 'id': 'autocomplete2', 'attr': {'placeholder': 'Code postal et ville', 'class': ''}}) }}

                    {{ form_row(form.longitude, {'label': false, 'id': 'user_longitude2'}) }}

                    {{ form_row(form.latitude, {'label': false, 'id': 'user_latitude2'}) }}

                    {{ form_row(form.sexe, {'label': false,'attr': {'placeholder': 'Sexe', 'class': ''}}) }}

                    <button class="btn btn-primary">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    {% endif %}
{% endif %}
