{% extends 'socialNetwork/base.html.twig' %}
{% block header %}
{% endblock %}
{% block css %}
    <style>
        body{
            overflow-y: hidden;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="chat-room" style="margin-top: 50px; height: 100vh">
        <div class="col-md-3">
            <a class="btn btn-danger" href="{{ path('footballer_quit_chatroom') }}">Quitter le chat</a>
            <!-- Contact List in Left-->
            <ul class="nav nav-tabs contact-list scrollbar-wrapper scrollbar-outer">
            </ul><!--Contact List in Left End-->

        </div>
        <div class="col-md-9">
            <div class="chat-body" id="chat-body-id">
                <ul class="chat-message">
                </ul>
            </div>
            <div class="send-message">
                <div class="input-group">
                    <form id="form-chatroom" action="" method="post" enctype="multipart/form-data">
                        <input type="text" id="input-message" name="message">
                        <input type="file" name="image-chatroom" accept=".png, .jpeg, .jpg">
                        <button class="btn btn-primary" id="ping">Envoyer un message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div></div>
{% endblock %}

{% block javascripts %}
    <script>
        $.ajax({
            url : "{{ path('footballer_chatroom_all') }}",
            type : 'POST',
            success : function (serverResponse){
                $('.chat-message').append(serverResponse.messages);
                $('.contact-list').append(serverResponse.users);
            }
        })

        //RECUPERATION DE ID
        let user = {{ app.user.id }}
        //ON INITIALISE L'URL DE MERCURE
        const url = new URL('{{ mercure_publish_url }}');
        //ON AJOUTE LE TOPIC CORRESPONDANT A NOS NOTIFICATION DE CHAT
        url.searchParams.append('topic', 'http://skillfoot.fr/users/chat')
        url.searchParams.append('topic', 'http://skillfoot.fr/users')
        url.searchParams.append('topic', 'http://skillfoot.fr/users/quit')

        //ECOUTEUR DE LURL DE MERCURE
        const eventSource = new EventSource(url, { withCredentials: true });

        eventSource.onmessage = e => {
            var result = JSON.parse(e.data);
            $('.chat-message').append(result.message);
            if(result.user != 'undefined'){
                if($('li[data-id='+result.user_quit+']').length > 0){
                    $('.contact-list').append(result.user);
                }
            }
            if(result.user_quit != 'undefined'){
                $('li[data-id='+result.user_quit+']').remove();
            }
        }

        //Fermer l'event source avant de quitter la page
        window.addEventListener('beforeunload', function (){
            if(eventSource != null){
                eventSource.close()
            }
        })

        $('#form-chatroom').submit(function (e) {
            e.preventDefault();
            var form = $(this)[0];
            var formData = new FormData(form);

            $.ajax({
                url : "{{ path('footballer_chatroom_message_add') }}",
                type : 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success : function (serverResponse){

                }
            })
        })


    </script>
{% endblock %}




