{% extends 'socialNetwork/base.html.twig' %}
{% block body %}

  <div class="container">
    <div class="timeline">
      {% include('socialNetwork/inc/timeline-footballer.html.twig') %}
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3">
            {% include('socialNetwork/inc/edit-menu-profil.html.twig') %}
          </div>
          <div class="col-md-7">
            <div class="edit-career-container">
              <div class="block-title">
                <h4 class="grey">Mes photos</h4>
                <a data-toggle="modal" data-target="#add-photo" class="button">Ajouter une photo</a>
                <!-- Modal -->
                <div class="modal fade" id="add-photo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un club</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ form_start(form, {'attr': {'class': '', 'id':''}}) }}
                        <div class="row" style="padding: 30px">
                          {{ form_row(form.title, {'label': 'Titre','attr': {'placeholder': 'Titre de la photo'}}) }}
                          {{ form_row(form.description, {'label': 'Description','attr': {'placeholder': 'Petite description'}}) }}
                          {{ form_row(form.internalLink, {'label': 'Photo','attr': {'accept': 'image/jpeg,image/jpg,image/png'}}) }}
                          <button class="btn" data-dismiss="modal">Annuler</button>
                          <button class="btn btn-primary">Enregistrer</button>
                        </div>
                        {{ form_end(form) }}
                      </div>
                    </div>
                  </div>
                </div>
                {% for message in app.flashes('success') %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
              <div class="edit-block">
                {% for photo in photos %}
                  <div class="grid-item col-md-5 col-sm-5" style="margin: 10px">
                    <div class="media-grid">
                      <p><strong>{{ photo.title }}</strong>
                        <i class="fa fa-close" style="color: red; cursor: pointer; font-size: 20px" data-toggle="modal" data-target="#supp-modal-{{ photo.id }}"></i>
                      </p>
                      <p>{{ photo.description }}</p>
                      <div class="modal fade" id="supp-modal-{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Supprimer la photo</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="modal-body">
                                Attention, la suppression est irréversible !
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                              <a type="button" href="{{ path('footballer_photoDelete',{'id':photo.id}) }}" class="btn btn-primary">Supprimer</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-toggle="modal" data-target="#modal-{{ photo.id }}">
                        <img src="{{ asset(footballer_photo_compressed_directory~photo.internalLink) }}" alt="" class="img-responsive post-image" />
                      </div>
                      <!--Popup-->
                      <div class="modal fade" id="modal-{{ photo.id }}" tabindex="-{{ photo.id }}" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="post-content">
                              <div class="post-container">
                                <div class="post-detail">
                                  <div class="user-info">
                                    <h5>{{ photo.title }}</h5>
                                    <p class="text-muted">{{ photo.description }}</p>
                                  </div>
                                </div>
                                <img src="{{ asset(footballer_photo_directory~photo.internalLink) }}" alt="post-image" class="img-responsive post-image" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!--Popup End-->

                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-2 static">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
{% endblock %}