{% extends 'socialNetwork/base.html.twig' %}
{% block body %}

  <div class="container main-container">
    <div class="timeline">
      {% include('socialNetwork/inc/timeline-footballer.html.twig') %}
      <div id="page-contents">
        <div class="row" id="page-contents-child">
          <!--Edit Profile Menu-->
          {% include('socialNetwork/inc/edit-menu-profil.html.twig') %}
          <div class="block-profil col-sm-12">
            <div class="edit-career-container">
              <div class="block-title">
                <h4 class="grey">Mes vidéos</h4>
                <a data-toggle="modal" data-target="#add-video" class="button">Ajouter une video</a>
                <!-- Modal -->
                <div class="modal fade" id="add-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une video</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <button id="button-youtube" class="btn">Ajouter un lien YouTube</button>
                        {{ form_start(form, {'attr': {'class': '', 'id':''}}) }}
                        <div class="row" style="padding: 30px">
                          {{ form_row(form.title, {'label': 'Titre','attr': {'placeholder': 'Titre de la vidéo'}}) }}
                          {{ form_row(form.description, {'label': 'Description','attr': {'placeholder': 'Petite description'}}) }}
                          <div id="block-internallink">
                            {{ form_row(form.internalLink, {'label': 'Fichier', 'id' : 'file', 'attr': {'accept': 'video/mp4','novalidate': 'novalidate','required' : false}}) }}
                          </div>
                          <div id="block-youtube">
                            {{ form_row(form.externalLink, {'label': 'Lien YouTube','attr': {'novalidate': 'novalidate'}}) }}
                          </div>

                          <button class="btn" data-dismiss="modal">Annuler</button>
                          <button id="submit-video" class="btn btn-primary">Enregistrer</button>
                        </div>
                        {{ form_end(form) }}
                      </div>
                    </div>
                  </div>
                </div>
                {% for message in app.flashes('success') %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
              <div class="edit-block">
                {% for video in videos %}
                  <div class="grid-item col-md-6 col-sm-6">
                    <p><strong>{{ video.title }}</strong>
                      <i class="fa fa-close" style="color: red; cursor: pointer; font-size: 20px" data-toggle="modal" data-target="#supp-modal-{{ video.id }}"></i>
                    </p>
                    <p>{{ video.description }}</p>
                    <div class="modal fade" id="supp-modal-{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Supprimer la vidéo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="modal-body">
                              Attention, la suppression est irréversible !
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                            <a type="button" href="{{ path('footballer_videoDelete',{'id':video.id}) }}" class="btn btn-primary">Supprimer</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media-grid">
                      <div>
                        {% if video.internalLink is not null %}
                        <video controls controlsList="nodownload" width="320" height="200">
                          <source src="{{ asset(footballer_video_directory~'/'~app.user.id~'/'~video.internalLink) }}" type="video/mp4">
                        </video>
                          {% else %}
                            <iframe width="320" height="200" src="//{{ video.externalLink }}" allowfullscreen></iframe>
                        {% endif %}
                      </div>

{#                      <!--Popup-->#}
{#                      <div class="modal fade" id="modal-{{ video.id }}" tabindex="-{{ video.id }}" role="dialog" aria-hidden="true">#}
{#                        <div class="modal-dialog modal-lg">#}
{#                          <div class="modal-content">#}
{#                            <div class="post-content">#}
{#                              <div class="post-container">#}
{#                                <div class="post-detail">#}
{#                                  <div class="user-info">#}
{#                                    <h5>{{ video.title }}</h5>#}
{#                                    <p class="text-muted">{{ video.description }}</p>#}
{#                                  </div>#}
{#                                </div>#}
{#                                <div class="video-wrapper">#}
{#                                  {% if video.internalLink is not null %}#}
{#                                  <video controls>#}
{#                                    <source src="{{ asset(footballer_video_directory~'/'~app.user.id~'/'~video.internalLink) }}" type="video/mp4">#}
{#                                  </video>#}
{#                                  {% else %}#}
{#                                    <iframe src="//{{ video.externalLink }}" allowfullscreen></iframe>#}
{#                                  {% endif %}#}
{#                                </div>#}
{#                              </div>#}
{#                            </div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div><!--Popup End-->#}

                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-2 static">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    $('#button-youtube').click(function (){

      if($(this).hasClass('btn-danger')){
        $(this).removeClass('btn-danger');
        $('#block-youtube').hide();
        $('#block-internallink').show();

      }else{
        $(this).addClass('btn-danger');
        $('#block-youtube').show();
        $('#block-internallink').hide();

      }

    })
    $(function(){
      var uploadField = document.getElementById("file");
      uploadField.onchange = function() {
        if(this.files[0].size > 100000000){
          alert("La taille du fichier ne doit pas dépasser les 100 Mo.");
          this.value = "";
        };
      };
    });
  </script>
{% endblock %}
