{% extends 'socialNetwork/base.html.twig' %}
{% block body %}

  <div class="container main-container">
    <div class="timeline">
      {% include('socialNetwork/inc/timeline-footballer.html.twig') %}
      <div id="page-contents">
        <div class="row" id="page-contents-child">
          <!--Edit Profile Menu-->
          {% include('socialNetwork/inc/edit-menu-profil.html.twig') %}
          <div class="block-profil col-sm-12">
            <div class="edit-career-container">
              <div class="block-title">
                <h4 class="grey">Mes demandes d'amis</h4>
                {% for message in app.flashes('success') %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
              <div class="edit-block">
                {% for friend in friends %}
                  <div class="nearby-user">
                    <div class="row">
                      <div class="col-md-2 col-sm-2">
                        {% if friend.footballer.user.profilPhoto is not null %}
                          <img src="{{ asset(footballer_photo_profil_directory~'/'~friend.footballer.user.account.id~'/'~friend.footballer.user.profilPhoto) }}" alt="user" class="profile-photo-lg" />
                        {% else %}
                          <img src="{{ asset('img/default/profil-footballer.png') }}" alt="" class="img-responsive profile-photo"/>
                        {% endif %}
                      </div>
                      <div class="col-md-7 col-sm-7">
                        <h5><a href="#" class="profile-link">{{ friend.footballer.user.name }} {{ friend.footballer.user.firstName }}</a></h5>
                        <p>{{ friend.footballer.position }}</p>
                        <p class="text-muted">{{ friend.footballer.user.city }}</p>
                      </div>
                      <div class="col-md-3 col-sm-3" style="display: flex;">
                        <button class="btn btn-success pull-right add-friend inactive" style="margin: 10px" data-id="{{ friend.id }}">Accepter</button>
                        <button class="btn btn-danger pull-right not-add-friend inactive" style="margin: 10px" data-id="{{ friend.id }}">Refuser</button>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-2 static">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    $(function (){
      $('.add-friend.inactive').click(function (){
        var button = $(this);
        button.addClass('active');
        button.removeClass('inactive');
        $.ajax({
          url : "{{ path('footballer_add_friend_after_waiting_submission') }}",
          type : "POST",
          data: {
            "id":$(this).attr('data-id')
          },
          success : function (serverResponse){
            $('.add-friend.active').text('Invitation acceptée');
            $('.add-friend.active').css('background-color' , 'green');
            $('.not-add-friend').hide();
          },
          error : function (){
            alert('Une erreur est survenue')
          }
        })
      });

      $('.not-add-friend').click(function (){
        var button = $(this);
        button.addClass('active');
        button.removeClass('inactive');

        $.ajax({
          url : "{{ path('footballer_remove_friend_after_waiting_submission') }}",
          type : "POST",
          data: {
            "id":$(this).attr('data-id')
          },
          success : function (serverResponse){
            $('.not-add-friend.active').parents('.nearby-user').html("");
          },
          error : function (){
            alert('Une erreur est survenue')
          }
        })
      });
    });
  </script>
  <script src="{{ asset("socialNetwork/js/custom.js") }}"></script>
{% endblock %}
