{% extends 'socialNetwork/base.html.twig' %}
{% block body %}
    <style>
        footer{
            display: none;
        }
        .show-conversation {
            display: none;
        }
        @media (max-width: 767px) {
            #page-contents {
                padding: 0;
                padding-bottom: 0;
            }
            .show-conversation {
                background-color: white;
                position: fixed;
                z-index: 10;
                width: 100%;
                height: 50px;
                text-align: center;
                line-height: 43px;
                font-size: 17px;
                left: 0;
                box-shadow: 2px 2px 5px 0px;
                top: 0;
            }
            .chat-room .tab-pane{
                margin-top: 60px !important;
            }
            .scrollbar-wrapper.tab-content{
                display: none;
            }
            .conversations .scrollbar-wrapper.contact-list{
                height: 90%;
                margin: 0;
            }
            .chat-room .chat-body {
                height: 100vh;
                overflow-y: auto;
            }
            .chat-room .chat-body ul.chat-message{
                width: 100%;
                height: 100%;
            }

        }
    </style>
    <div id="page-contents">
        <div class="container main-container">
            <div class="row">
                <div class="col-md-12">
                    {% if conversations is empty %}
                        <h3>Vous n'avez aucun résultat</h3>
                        <p>Trouver un ami pour démarrer une conversation</p>
                        <form action="{{ path('footballer_search_global_footballer') }}" method="POST" id="form-search-footballer" class="navbar-form">
                            <div class="form-group block-search">
                                <i class="icon ion-android-search"></i>
                                <input type="text" class="form-control" name="search" id="search-footballer-no-found" placeholder="Chercher un footballeur">
                                <a href="{{ path("footballer_view_profil", {id: 9999999999}) }}" id="link-search-footballer"></a>
                            </div>
                        </form>
                    {% endif %}
                    <div class="show-conversation"><i class="fa fa-arrow-circle-left"></i> Afficher les conversations</div>

                    <div class="chat-room" style="display:none;">
                        <div  class="row">
                            <div class="col-md-4 conversations">
                                <ul class="nav nav-tabs contact-list scrollbar-wrapper scrollbar-outer">
                                    {% for conversation in conversations %}
                                        <li {% if id > 0 and conversation['conversation'].id == id %}class="active"{% endif %}>
                                            <a href="#contact-{{ conversation['conversation'].id }}" data-toggle="tab" data-conf="{{ conversation['conversation'].id }}" data-participant="{{ conversation['participant'].id }}">
                                                <div class="contact">
                                                    <div class="msg-preview">
                                                        <h6>{{ conversation['participant'].user.name }} {{ conversation['participant'].user.firstName }}</h6>
                                                        <p style="{% if conversation['notify'] %}color: rgb(0, 0, 0);font-weight: bold;{% endif %}" class="text-muted"></p>
                                                        <small style="{% if conversation['notify'] %}color: rgb(0, 0, 0);font-weight: bold;{% endif %}" class="text-muted"></small>
                                                        {#                                                        <div class="chat-alert">1</div>#}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-md-8">
                                {% if conversations is not empty %}

                                <div class="tab-content chat-message scrollbar-wrapper wrapper scrollbar-outer">
                                        {% for conversation in conversations %}
                                            <div class="tab-pane" id="contact-{{ conversation['conversation'].id }}"></div>
                                        {% endfor %}

                                        <div class="send-message">
                                            <div class="input-group" style="margin: 0 auto;">
                                                <form id="form-private-message" style="display: flex;">
                                                    <input type="hidden" name="conversation">
                                                    <input type="text" name="message" class="form-control" placeholder="Envoyer un message">
                                                    <button style="border-radius: 6px;">Envoyer</button>
                                                </form>
                                            </div>
                                        </div>
                                </div><!--Chat Messages in Right End-->
                                {% endif %}

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function (){
            {% if id == 0 %}
            $('.contact-list li').removeClass('active');
            $('.contact-list li:first').addClass('active');
            $('div[id^=contact-]').removeClass('active');
            $('div[id^=contact-]:first').addClass('active');
            {% else %}
            $($('.contact-list li.active a').attr('href')).addClass('active');
            {% endif %}
            $('input[name=conversation]').val($('.contact-list li.active a').attr('data-conf'))
            $('.contact-list li a').each(function (){
                var id_conf = $(this).attr('data-conf');
                var a_this = $(this);
                //Recup des premiers messages de la premiere conversation
                $.ajax({
                    'url' : "{{ path('social_network_get_messages') }}",
                    'type' : 'POST',
                    'data' : {'conversation':id_conf},
                    success : function (serverResponse){
                        var result = Object.values(serverResponse.result);
                        if(serverResponse.result != false){
                            $('#contact-'+id_conf).html('<div class="chat-body"><ul class="chat-message"></ul></div>');
                            result.forEach(element =>
                                $('#contact-'+id_conf+' .chat-body .chat-message').append('<li class="'+element.position+'">'+element.photo+'<div class="chat-item"> <div class="chat-item-header"> <h5>'+element.nom+'</h5> <small class="text-muted message-date">'+element.date+'</small> </div> <p class="private-message">'+element.message+'</p> </div></li>')
                            );
                            a_this.find('.msg-preview').find('p.text-muted').text($('#contact-'+id_conf+' .chat-body .chat-message .private-message').last().text());
                            a_this.find('.msg-preview').find('small.text-muted').text($('#contact-'+id_conf+' .chat-body .chat-message .message-date').last().text());
                        }
                    },
                    error : function (error){
                        console.log(error);
                    },
                })
            });

            $('.chat-room').show();

            $('.contact-list li a').click(function () {
                $('.contact-list li').removeClass('active');
                $(this).addClass('active');
                $('.chat-message > div').removeClass('active');
                $($(this).attr('href')).addClass('active');
                $('input[name=conversation]').val($(this).attr('data-conf'));
                if($(window).width() <= 765){
                    $('.conversations').hide();
                    $('#header').hide();
                    $('.chat-message').show();
                    $('.show-conversation').show();
                    $("html, body").scrollTop($("html, body").height()+200);
                }
                $($(this).attr('href')+' .chat-body').scrollTop($($(this).attr('href')+' .chat-body .chat-message').height()+200);

                $.ajax({
                    'url' : "{{ path('social_network_remove_notify') }}",
                    'type' : 'POST',
                    'data' : {'participant':$(this).attr('data-participant')},
                    success : function (serverResponse){
                        if(serverResponse.result != false){
                            $('.contact-list li.active a .msg-preview p').css({'color':'#939598','font-weight':'initial'});
                            $('.contact-list li.active a .msg-preview small').css({'color':'#939598','font-weight':'initial'});
                        }
                    },
                    error : function (error){
                        console.log(error);
                    },
                })

            });

            $('.show-conversation').click(function (){
                $('.conversations').show();
                $('#header').show();
                $('.chat-message').hide();
                $(this).hide();
            });

            $('#form-private-message').submit(function (e) {
                e.preventDefault();
                var form = $(this)[0];
                var formData = new FormData(form);
                var conversation = $('.contact-list li.active a').attr('data-conf');

                $.ajax({
                    url : "{{ path('social_network_add_message') }}",
                    type : 'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success : function (serverResponse){
                        $('#form-private-message input[type=text]').val(" ");
                    }
                })
            })


            $('input[name=message]').click(function (){
                $.ajax({
                    'url' : "{{ path('social_network_remove_notify') }}",
                    'type' : 'POST',
                    'data' : {'participant':$('.contact-list li.active a').attr('data-participant')},
                    success : function (serverResponse){
                        if(serverResponse.result != false){
                            $('.contact-list li.active a .msg-preview p').css({'color':'#939598','font-weight':'initial'});
                            $('.contact-list li.active a .msg-preview small').css({'color':'#939598','font-weight':'initial'});
                        }
                    },
                    error : function (error){
                        console.log(error);
                    },
                })
            })

            //ON INITIALISE L'URL DE MERCURE
            const url = new URL('{{ mercure_publish_url }}');
            //ON AJOUTE LE TOPIC CORRESPONDANT A NOS NOTIFICATION DE CHAT
            url.searchParams.append('topic', 'http://skillfoot.fr/users/private-message')

            //ECOUTEUR DE LURL DE MERCURE
            const eventSource = new EventSource(url, { withCredentials: true });

            eventSource.onmessage = e => {
                var serverResponse = JSON.parse(e.data);
                if(serverResponse != false){
                    if(serverResponse.id == {{ app.user.user.id }}) var position = 'right';
                    else var position = 'left';
                    $('#contact-'+serverResponse.conversation+' .chat-body .chat-message').append('' +
                        '<li class="'+position+'"><img src="'+serverResponse.photo+'" alt="" class="profile-photo-sm pull-'+position+'"/>' +
                        '<div class="chat-item"> <div class="chat-item-header"> <h5>'+serverResponse.nom+'</h5> ' +
                        '<small class="text-muted message-date">'+serverResponse.date+'</small> ' +
                        '</div> <p class="private-message">'+serverResponse.message+'</p> </div></li>')
                    $('.contact-list li.active a[data-conf='+serverResponse.conversation+']').find('.msg-preview').find('p.text-muted').text(serverResponse.message);
                    $('.contact-list li.active a[data-conf='+serverResponse.conversation+']').find('.msg-preview').find('p.text-muted').css({'color':'black','font-weight':'bold'});
                    $('.contact-list li.active a[data-conf='+serverResponse.conversation+']').find('.msg-preview').find('small.text-muted').text(serverResponse.date);
                    $('.contact-list li.active a[data-conf='+serverResponse.conversation+']').find('.msg-preview').find('small.text-muted').css({'color':'black','font-weight':'bold'});
                    // $('#contact-'+serverResponse.conversation+' .chat-body').scrollTop($('#contact-'+serverResponse.conversation+' .chat-body .chat-message').height()+200);
                    $('#contact-'+serverResponse.conversation+' .chat-body').animate({ scrollTop: $('#contact-'+serverResponse.conversation+' .chat-body .chat-message').height() }, 1000);
                    $("html, body").scrollTop($("html, body").height()+200);
                }
            }

            //Fermer l'event source avant de quitter la page
            window.onbeforeunload = function(){
                if(eventSource != null){
                    eventSource.close()
                }
            }

            //ON INITIALISE L'URL DE MERCURE
            const url2 = new URL('{{ mercure_publish_url }}');
            //ON AJOUTE LE TOPIC CORRESPONDANT A NOS NOTIFICATION DE CHAT
            url2.searchParams.append('topic', 'http://skillfoot.fr/users/new-conversation')

            //ECOUTEUR DE LURL DE MERCURE
            const eventSource2 = new EventSource(url2, { withCredentials: true });

            eventSource2.onmessage = e => {
                var serverResponse = JSON.parse(e.data);
                if(serverResponse != false){
                    var position = 'left';

                    //MESSAGE SUR LE COTE
                    $('.contact-list').prepend('<li><a href="#contact-'+serverResponse.conversation+'" data-toggle="tab" data-conf="'+serverResponse.conversation+'">' +
                        '<div class="contact"><div class="msg-preview">' +
                        '<h6>'+serverResponse.nom+'</h6><p class="text-muted"></p>' +
                        '<small class="text-muted"></small></div></div></a></li>');

                    $('.chat-message.scrollbar-wrapper').html('<div class="tab-pane" id="contact-'+serverResponse.conversation+'"><div class="chat-body">' +
                        '<ul class="chat-message"></ul></div></div>');

                    //CONTENU DU MESSAGE
                    $('#contact-'+serverResponse.conversation+' .chat-body .chat-message').prepend('<li class="'+position+'">' +
                        '<img src="'+serverResponse.photo+'" alt="" class="profile-photo-sm pull-'+position+'"/>' +
                        '<div class="chat-item"> <div class="chat-item-header"> <h5>'+serverResponse.nom+'</h5> ' +
                        '<small class="text-muted message-date">'+serverResponse.date+'</small> ' +
                        '</div> <p class="private-message">'+serverResponse.message+'</p> </div></li>');

                    $('.contact-list li a[data-conf='+serverResponse.conversation+']').find('.msg-preview').find('p.text-muted').text(serverResponse.message);
                    $('.contact-list li a[data-conf='+serverResponse.conversation+']').find('.msg-preview').find('small.text-muted').text(serverResponse.date);

                    if($('div[id^=contact-]').length == 1){
                        $('div[id^=contact-'+serverResponse.conversation+']').addClass('active');
                    }
                    $('.chat-room').show();

                }
            }

            //Fermer l'event source avant de quitter la page
            window.onbeforeunload = function(){
                if(eventSource2 != null){
                    eventSource2.close()
                }
            }

            if($(window).width() <= 765){
                $('.chat-message').hide();
            }

        })
    </script>
{% endblock %}



