{% extends 'socialNetwork/base.html.twig' %}
{% block body %}

  <div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
      {% include('socialNetwork/inc/view/timeline-footballer.html.twig') %}
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3">

            <!--Edit Profile Menu-->
            {% include('socialNetwork/inc/view/menu-profil.html.twig') %}
          </div>
          <div class="col-md-7">

            <!-- Edit Interests
            ================================================= -->
            <div class="edit-profile-container">
              <div class="block-title">
                <h4 class="grey">Mon profil de footballeur</h4>
                {% for message in app.flashes('success') %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
              <div class="show-block">
                <h3>Présentez-vous !</h3>
                <p>{{ footballer.description }}</p>
                <h3>Quel est votre objectif ?</h3>
                <p>{{ footballer.goal }}</p>
                <h3>Quel est votre poids ?</h3>
                <p>{{ footballer.weight }}kg</p>
                <h3>Quelle est votre taille ?</h3>
                <p>{{ footballer.height }}cm</p>
                <h3>Quel est votre poste ?</h3>
                <p>{{ footballer.position }}</p>
                <h3>Quel est votre meilleur pied ?</h3>
                {% if footballer.betterFoot == 'D' %}
                  <p>Droit</p>
                {% elseif footballer.betterFoot == 'G' %}
                  <p>Gauche</p>
                {% else %}
                  <p>Les deux</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-2 static">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    $.ajax({
      url : "{{ path('footballer_check_friend',{id:footballer.id}) }}",
      type : 'POST',
      success : function (serverResponse) {
        if(serverResponse.result){
          $('#add-footballer').show();
        }
      }
    })
  </script>
{% endblock %}
