{% extends 'socialNetwork/base.html.twig' %}
{% block body %}

  <div class="container main-container">
    <div class="timeline">
      {% include('socialNetwork/inc/view/timeline-footballer.html.twig') %}
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3">

            <!--Edit Profile Menu-->
            {% include('socialNetwork/inc/view/menu-profil.html.twig') %}
          </div>
          <div class="col-md-7">

            <!-- Edit Interests
            ================================================= -->
            <div class="edit-profile-container">
              <div class="block-title">
                <h4 class="grey">Mon profil de footballeur</h4>
                {% for message in app.flashes('success') %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                  <div class="alert alert-danger">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
              <div class="show-block">
                <h3>Présentez-vous !</h3>
                <p>{{ footballer.description }}</p>
                <h3>Quel est votre objectif ?</h3>
                <p>{{ footballer.goal }}</p>
                <h3>Quel est votre poids ?</h3>
                <p>{{ footballer.weight }}kg</p>
                <h3>Quelle est votre taille ?</h3>
                <p>{{ footballer.height }}cm</p>
                <h3>Quel est votre poste ?</h3>
                <p>{{ footballer.position }}</p>
                <h3>Quel est votre meilleur pied ?</h3>
                {% if footballer.betterFoot == 'D' %}
                  <p>Droit</p>
                {% elseif footballer.betterFoot == 'G' %}
                  <p>Gauche</p>
                {% else %}
                  <p>Les deux</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-2 static">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Envoyer un message <i class="close fa fa-times" data-dismiss="modal" aria-label="Close"></i></h5>

        </div>
        <div class="modal-body">
          <form action="{{ path('social_network_send_message',{id:footballer.id}) }}" method="post" style="display: flex;flex-direction: column;">
            <input type="text" name="message" required placeholder="Saisir un message">
            <button class="btn btn-primary" style="border-radius: 5px;width: 250px;margin-top: 10px;">Envoyer le message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="blocked" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bloquer {{ footballer.user.name }} {{ footballer.user.firstName }} <i class="close fa fa-times" data-dismiss="modal" aria-label="Close"></i></h5>
        </div>
        <div class="modal-body">
          Êtes-vous sur de vouloir bloquer {{ footballer.user.name }} {{ footballer.user.firstName }} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Annuler</button>
          <a type="button" href="{{ path('footballer_blocked_friend',{'id':footballer.id}) }}" class="btn btn-primary">Bloquer</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    $.ajax({
      url : "{{ path('footballer_check_friend',{id:footballer.id}) }}",
      type : 'POST',
      success : function (serverResponse) {
        if(serverResponse.result == 0){
          $('.add-footballer').show();
        }
        if(serverResponse.result == 1){
          $('.add-footballer').show();
          $('.add-footballer i').css('color','green');
        }
      }
    })
  </script>
{% endblock %}
