{% extends 'socialNetwork/base.html.twig' %}
{% block body %}

  <div class="container main-container">
    <div class="timeline">
      {% include('socialNetwork/inc/view/timeline-footballer.html.twig') %}
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3">
            {% include('socialNetwork/inc/view/menu-profil.html.twig') %}
          </div>
          <div class="col-md-9">
            <div class="edit-career-container">
              <div class="block-title">
                <h4 class="grey">Photos</h4>
              </div>
              <div class="edit-block">
                {% for photo in photos %}
                  <div class="grid-item col-md-5 col-sm-5" style="margin: 10px">
                    <div class="media-grid">
                      <p><strong>{{ photo.title }}</strong></p>
                      <p>{{ photo.description }}</p>
                      <div class="img-wrapper" data-toggle="modal" data-target="#modal-{{ photo.id }}">
                        <img src="{{ asset(footballer_photo_compressed_directory~'/'~footballer.user.account.id~'/'~photo.internalLink) }}" alt="" class="img-responsive post-image" />
                      </div>
                      <!--Popup-->
                      <div class="modal fade" id="modal-{{ photo.id }}" tabindex="-{{ photo.id }}" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="post-content">
                              <div class="post-container">
                                <div class="post-detail">
                                  <div class="user-info">
                                    <h5>{{ photo.title }}</h5>
                                    <p class="text-muted">{{ photo.description }}</p>
                                  </div>
                                </div>
                                <img src="{{ asset(footballer_photo_directory~'/'~footballer.user.account.id~'/'~photo.internalLink) }}" alt="post-image" class="img-responsive post-image" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!--Popup End-->

                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-2 static">

          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Envoyer un message <i class="close fa fa-times" data-dismiss="modal" aria-label="Close"></i></h5>

          </div>
          <div class="modal-body">
            <form action="{{ path('social_network_send_message',{id:footballer.id}) }}" method="post" style="display: flex;flex-direction: column;">
              <input type="text" name="message" required placeholder="Saisir un message">
              <button class="btn btn-primary" style="border-radius: 5px;width: 250px;margin-top: 10px;">Envoyer le message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="blocked" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Bloquer {{ footballer.user.name }} {{ footballer.user.firstName }} <i class="close fa fa-times" data-dismiss="modal" aria-label="Close"></i></h5>
          </div>
          <div class="modal-body">
            Êtes-vous sur de vouloir bloquer {{ footballer.user.name }} {{ footballer.user.firstName }} ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Annuler</button>
            <a type="button" href="{{ path('footballer_blocked_friend',{'id':footballer.id}) }}" class="btn btn-primary">Bloquer</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block javascripts %}
  <script>

    $.ajax({
      url : "{{ path('footballer_check_friend',{id:footballer.id}) }}",
      type : 'POST',
      success : function (serverResponse) {
        if(serverResponse.result == 0){
          $('.add-footballer').show();
        }
        if(serverResponse.result == 1){
          $('.add-footballer').show();
          $('.add-footballer i').css('color','green');
        }
      }
    })
  </script>
{% endblock %}
