<div class="col-md-3 static">
    <div class="profile-card">
        <img src="http://placehold.it/300x300" alt="user" class="profile-photo" />
        <h5><a href="timeline.html" class="text-white">Sarah Cruiz</a></h5>
        <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
    </div><!--profile card ends-->
    <ul class="nav-news-feed">
{#        <li><i class="icon ion-ios-paper"></i><div><a href="newsfeed.html">My Newsfeed</a></div></li>#}
        <li><i class="icon ion-ios-people"></i><div><a href="{{ path('footballer_add_friend') }}">People Nearby</a></div></li>
        <li><i class="icon ion-ios-people-outline"></i><div><a href="{{ path('footballer_myfriends') }}">Friends</a></div></li>
        <li><i class="icon ion-chatboxes"></i><div><a href="{{ path('footballer_message') }}">Messages</a></div></li>
        <li><i class="icon ion-images"></i><div><a href="{{ path('footballer_picture') }}">Images</a></div></li>
        <li><i class="icon ion-ios-videocam"></i><div><a href="{{ path('footballer_video') }}">Videos</a></div></li>
    </ul><!--news-feed links ends-->
</div>