{% if app.session.get('footballer_cover_photo') is not null %}
<div class="timeline-cover" style="background: url('{{ asset(footballer_photo_cover_directory~'/'~app.user.id~'/'~app.session.get('footballer_cover_photo')) }}') no-repeat;background-position: center;background-size: cover;">
    {% else %}
    <div class="timeline-cover" style="background: url('{{ asset('img/default/cover-footballer.png') }}') no-repeat;background-position: center;background-size: cover;">
    {% endif %}
    <button class="btn cover-photo-button" style="position: absolute;right: 20px;top: 20px;">Modifier ma photo de couverture</button>

    <!--Timeline Menu for Large Screens-->
    <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-info">
                    <div class="img-wrapper-profil">
                        {% if app.session.get('footballer_profil_photo') is not null %}
                            <img src="{{ asset(footballer_photo_profil_directory~'/'~app.user.id~'/'~app.session.get('footballer_profil_photo')) }}" alt="" class="img-responsive profile-photo" />
                        {% else %}
                            <img src="{{ asset('img/default/profil-footballer.png') }}" alt="" class="img-responsive profile-photo" />
                        {% endif %}
                    </div>
                    {{ render(controller(
                        'App\\Controller\\FootballerController::footballerProfilPhoto'
                    )) }}
                    {% if app.user.user is not null %}
                        <h3>{{ app.user.user.name }} {{ app.user.user.firstName }}</h3>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-9">
                <ul class="list-inline profile-menu">
                    <li><a href="{{ path('social_network_show_conversations') }}">Mes messages</a></li>
                    <li><a href="{{ path('footballer_picture') }}">Mes photos</a></li>
                    <li><a href="{{ path('footballer_video') }}">Mes vidéos</a></li>
                    <li style="color: white; font-weight: bold;"><a href="{{ path('footballer_myfriends') }}">{{ app.session.get('number_friend') }} ami{% if app.session.get('number_friend') > 1 %}s{% endif %}</a></li>
{#                    <li><a style="margin-left: 15px;" href="{{ path('footballer_chatroom')}}" target="_blank" class="btn-primary">Chatroom</a></li>#}
                </ul>
            </div>
        </div>
    </div><!--Timeline Menu for Large Screens End-->

    <!--Timeline Menu for Small Screens-->
    <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info img-wrapper-profil-responsive">
            {% if app.session.get('footballer_profil_photo') is not null %}
                <img src="{{ asset(footballer_photo_profil_directory~'/'~app.user.id~'/'~app.session.get('footballer_profil_photo')) }}" alt="" class="img-responsive profile-photo" />
            {% else %}
                <img src="{{ asset('img/default/profil-footballer.png') }}" alt="" class="img-responsive profile-photo" />
            {% endif %}            {% if app.user.user is not null %}
                <h4>{{ app.user.user.name }} {{ app.user.user.firstName }}</h4>
            {% endif %}
        </div>
        <div class="mobile-menu">
            <ul class="list-inline">
                <li><a href="{{ path('social_network_show_conversations') }}">Mes messages</a></li>
                <li><a href="{{ path('footballer_picture') }}">Mes photos</a></li>
                <li><a href="{{ path('footballer_video') }}">Mes vidéos</a></li>
                <li style="color: white; font-weight: bold;"><a href="{{ path('footballer_myfriends') }}">{{ app.session.get('number_friend') }} ami{% if app.session.get('number_friend') > 1 %}s{% endif %}</a></li>
{#                <li><a style="margin-left: 15px;" href="{{ path('footballer_chatroom') }}" class="btn-primary">Chatroom</a></li>#}
            </ul>
        </div>
    </div><!--Timeline Menu for Small Screens End-->

</div>
