{% extends 'socialNetwork/base.html.twig' %}
{% block css %}
  <style>
    body{
      overflow-y: hidden;
    }
  </style>

{% endblock %}
{% block body %}

  <div id="page-contents">
    <div>
      <div style="display: flex; justify-content: space-between">

        <!-- Newsfeed Common Side Bar Left
        ================================================= -->
        <div id="menu-feed" class="col-md-3 static dis-none-mobile">
         <div class="profile-card">
            {% if app.session.get('footballer_profil_photo') is not null %}
              <img src="{{ asset(footballer_photo_profil_directory~'/'~app.user.id~'/'~app.session.get('footballer_profil_photo')) }}" alt="" class="img-responsive profile-photo" />
            {% else %}
              <img src="{{ asset('img/default/profil-footballer.png') }}" alt="" class="profile-photo" />
            {% endif %}
            <h5><a href="{{ path('footballer_editFootballerProfil')}}" class="profile-card-title">{{ app.user.user.name }} {{ app.user.user.firstName }}</a></h5>
            <a href="{{ path('footballer_myfriends') }}" class="text-profile-card"><img src="{{ asset('img/friendadd.gif') }}" alt="Nombre d'amis" class="card-pics"/> {{ app.session.get('number_friend') }} ami{% if app.session.get('number_friend') > 1 %}s{% endif %}</a>
          </div><!--profile card ends-->
          <ul class="nav-news-feed">
            <li><img src="{{ asset('img/wall.gif') }}" alt="Mon Mur Icone" class="menu-pics"><div><a href="{{ path('footballer_post_my_post') }}">Mon mur</a></div></li>
            <li><img src="{{ asset('img/footballer-profil.gif') }}" alt="Mon Profil Icone" class="menu-pics"/><div><a href="{{ path('footballer_editFootballerProfil')}}">Mon profil de footballeur</a></div></li>
            <li><img src="{{ asset('img/amis.gif') }}" alt="Mes Amis Icone" class="menu-pics"/><div><a href="{{ path('footballer_myfriends') }}">Mes amis</a></div></li>
            <li><img src="{{ asset('img/messages.gif') }}" alt="Mes Message Icone" class="menu-pics"/><div><a href="{{ path('social_network_show_conversations') }}">Mes messages</a></div></li>
            <li><img src="{{ asset('img/photos.gif') }}" alt="Mes Photos Icone" class="menu-pics"/><div><a href="{{ path('footballer_picture') }}">Mes photos</a></div></li>
            <li><img src="{{ asset('img/videos.gif') }}" alt="Mes Videos Icone" class="menu-pics"/><div><a href="{{ path('footballer_video') }}">Mes videos</a></div></li>
            <li><img src="{{ asset('img/carriere.gif') }}" alt="Ma carriere Icone" class="menu-pics"/><div><a href="{{ path('footballer_editCareer')}}">Ma carrière</a></div></li>
          </ul><!--news-feed links ends-->
          {#          <div id="chat-block">#}
          {#            <div class="title">Chat online</div>#}
          {#            <ul class="online-users list-inline">#}
          {#              <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#              <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#              <li><a href="newsfeed-messages.html" title="John Doe"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#              <li><a href="newsfeed-messages.html" title="Alexis Clark"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#              <li><a href="newsfeed-messages.html" title="James Carter"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#              <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#              <li><a href="newsfeed-messages.html" title="Richard Bell"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#              <li><a href="newsfeed-messages.html" title="Anna Young"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#              <li><a href="newsfeed-messages.html" title="Julia Cox"><img src="http://placehold.it/300x300" alt="user" class="img-responsive profile-photo" /><span class="online-dot"></span></a></li>#}
          {#            </ul>#}
          {#          </div><!--chat block ends-->#}
        </div>

        <div class="col-md-9 feed-actuality" style="overflow-y: scroll;height: 100vh;">
          <div class="post-content publication welcome-feed">
          
            <div class="post-content publication image">
            <img src="{{ asset('img/terrain.gif') }}" alt="Icone Terrain" class="header-newsfeed-pics"/>
            </div>
            <div class="post-content publication content">
            <h1>Le terrain d'actualité</h1>
            <p>N'hésitez pas à publier vos photos et expériences dans le monde du foot !</p>
            <p>De nombreux recruteurs sont présents sur SkillFoot ! Mettez vous en avant au MAXIMUM et faites vivre la communauté ! </p>
            {% for message in app.flashes('success') %}
              <div class="alert alert-success">
                {{ message }}
              </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
              <div class="alert alert-danger">
                {{ message }}
              </div>
            {% endfor %}
          </div>
          </div>
          {% include 'socialNetwork/inc/post/post.html.twig' %}
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('socialNetwork/js/post.js') }}"></script>
{% endblock %}
