<div class="timeline-cover" style="background: url('{{ asset(footballer_photo_cover_directory~'/'~footballer.user.account.id~'/'~footballer.coverPhoto) }}') no-repeat;background-position: center;background-size: cover;">

    <!--Timeline Menu for Large Screens-->
    <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-info">
                    <div class="img-wrapper-profil-view">
                        <img src="{{ asset(footballer_photo_profil_directory~'/'~footballer.user.account.id~'/'~footballer.user.profilPhoto )}}" alt="" class="img-responsive profile-photo" />
                    </div>
                    {% if footballer.user is not null %}
                        <h3>{{ footballer.user.name }} {{ footballer.user.firstName }}</h3>
                    {% endif %}
                    <p class="text-muted">Footballeur</p>
                </div>
            </div>

            <div class="col-md-9">
                <ul class="list-inline profile-menu">
                    <li><a href="{{ path('footballer_view_picture',{id:footballer.id}) }}">Photos</a></li>
                    <li><a href="{{ path('footballer_view_video',{id:footballer.id}) }}">Vidéos</a></li>
                    {% if app.user is not null %}
                        {% if footballer.user.account.id != app.user.id %}
                            {% if is_granted('ROLE_USER') or is_granted('ROLE_AGENT') %}
                                <li><a data-toggle="modal" data-target="#send-message">Envoyer un message</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li><a style="cursor: pointer" title="Bloquer" data-toggle="modal" data-target="#blocked"><i class="fa fa-ban"></i></a></li>
                                <li id="add-footballer" style="display: none"><a style="cursor: pointer"  data-id="{{ footballer.id }}" title="Ajouter le footballeur"><i class="fa fa-user-plus"></i></a></li>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li style="color: white; font-weight: bold;"><a href="{{ path('footballer_view_friends',{id:footballer.id}) }}">{{ footballer.numberFriends }} ami{% if footballer.numberFriends > 1 %}s{% endif %}</a></li>
                        {% endif %}
                    {% endif %}
                    <!-- Modal -->
                    <div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ajouter une photo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ path('social_network_send_message',{id:footballer.id}) }}" method="post">
                                        <input type="text" name="message" required>
                                        <button class="btn btn-primary">Envoyer le message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="blocked" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Bloquer {{ footballer.user.name }} {{ footballer.user.firstName }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Êtes-vous sur de vouloir bloquer {{ footballer.user.name }} {{ footballer.user.firstName }} ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                                    <a type="button" href="{{ path('footballer_blocked_friend',{'id':footballer.id}) }}" class="btn btn-primary">Bloquer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div><!--Timeline Menu for Large Screens End-->

    <!--Timeline Menu for Small Screens-->
    <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
            <img src="{{ asset(footballer_photo_profil_directory~'/'~footballer.user.account.id~'/'~footballer.user.profilPhoto )}}" alt="" class="img-responsive profile-photo" />
            {% if footballer.user is not null %}
                <h4>{{ footballer.user.name }} {{ footballer.user.firstName }}</h4>
            {% endif %}
            <p class="text-muted">Footballeur</p>
        </div>
        <div class="mobile-menu">
            <ul class="list-inline">
                <li><a href="{{ path('footballer_view_picture',{id:footballer.id}) }}">Photos</a></li>
                <li><a href="{{ path('footballer_view_video',{id:footballer.id}) }}">Vidéos</a></li>
                {% if app.user is not null %}
                    {% if footballer.user.account.id != app.user.id %}
                        {% if is_granted('ROLE_USER') or is_granted('ROLE_AGENT') %}
                            <li><a data-toggle="modal" data-target="#send-message">Envoyer un message</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li><a style="cursor: pointer" title="Bloquer" data-toggle="modal" data-target="#blocked"><i class="fa fa-ban"></i></a></li>
                            <li id="add-footballer" style="display: none"><a style="cursor: pointer"  data-id="{{ footballer.id }}" title="Ajouter le footballeur"><i class="fa fa-user-plus"></i></a></li>
                        {% endif %}
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li style="color: white; font-weight: bold;"><a href="{{ path('footballer_view_friends',{id:footballer.id}) }}">{{ footballer.numberFriends }} ami{% if footballer.numberFriends > 1 %}s{% endif %}</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div><!--Timeline Menu for Small Screens End-->

</div>
