{% if footballer.user.coverPhoto is not null %}
<div class="timeline-cover" style="background: url('{{ asset(footballer_photo_cover_directory~'/'~footballer.user.account.id~'/'~footballer.user.coverPhoto) }}') no-repeat;background-position: center;background-size: cover;">
    {% else %}
    <div class="timeline-cover" style="background: url('{{ asset('img/default/cover-footballer.png') }}') no-repeat;background-position: center;background-size: cover;">
        {% endif %}
        <!--Timeline Menu for Large Screens-->
        <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-info">
                        <div class="img-wrapper-profil-view">
                            {% if footballer.user.profilPhoto is not null %}
                                <img src="{{ asset(footballer_photo_profil_directory~'/'~footballer.user.account.id~'/'~footballer.user.profilPhoto )}}" alt="" class="img-responsive profile-photo" />
                            {% else %}
                                <img src="{{ asset('img/default/profil-footballer.png') }}" alt="" class="img-responsive profile-photo"/>
                            {% endif %}
                        </div>
                        {% if footballer.user is not null %}
                            <h3>{{ footballer.user.name }} {{ footballer.user.firstName }}</h3>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-9">
                    <ul class="list-inline profile-menu">
                        <li><a href="{{ path('footballer_view_picture',{id:footballer.id}) }}">Photos</a></li>
                        <li><a href="{{ path('footballer_view_video',{id:footballer.id}) }}">Vidéos</a></li>
                        {% if app.user is not null %}
                            {% if footballer.user.account.id != app.user.id %}
                                {% if is_granted('ROLE_USER') or is_granted('ROLE_AGENT') %}
                                    <li><a style="cursor: pointer" data-toggle="modal" data-target="#send-message" id="send-message-modal">Envoyer un message</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                    <li><a style="cursor: pointer" title="Bloquer" data-toggle="modal" data-target="#blocked" id="blocked-modal"><i class="fa fa-ban"></i></a></li>
                                    <li class="add-footballer" data-id="{{ footballer.id }}" style="display: none"><a style="cursor: pointer" data-id="{{ footballer.id }}" title="Ajouter le footballeur"><i class="fa fa-user-plus"></i></a></li>
                                {% endif %}
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li style="color: white; font-weight: bold;"><a href="{{ path('footballer_view_friends',{id:footballer.id}) }}">{{ footballer.numberFriends }} ami{% if footballer.numberFriends > 1 %}s{% endif %}</a></li>
                            {% endif %}
                        {% endif %}
                        <!-- Modal -->
                    </ul>
                </div>
            </div>
        </div><!--Timeline Menu for Large Screens End-->

        <!--Timeline Menu for Small Screens-->
        <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
                {% if footballer.user.profilPhoto is not null %}
                    <img src="{{ asset(footballer_photo_profil_directory~'/'~footballer.user.account.id~'/'~footballer.user.profilPhoto )}}" alt="" class="img-responsive profile-photo" />
                {% else %}
                    <img src="{{ asset('img/default/profil-footballer.png') }}" alt="" class="img-responsive profile-photo"/>
                {% endif %}
                {% if footballer.user is not null %}
                    <h4>{{ footballer.user.name }} {{ footballer.user.firstName }}</h4>
                {% endif %}
            </div>
            <div class="mobile-menu">
                <ul class="list-inline">
                    <li><a class="photo-link" href="{{ path('footballer_view_picture',{id:footballer.id}) }}">Photos</a></li>
                    <li><a class="video-link" href="{{ path('footballer_view_video',{id:footballer.id}) }}">Vidéos</a></li>
                    {% if app.user is not null %}
                        {% if footballer.user.account.id != app.user.id %}
                            {% if is_granted('ROLE_USER') or is_granted('ROLE_AGENT') %}
                                <li><a style="cursor: pointer" data-toggle="modal" data-target="#send-message" id="send-message-modal">Envoyer un message</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li><a style="cursor: pointer" title="Bloquer" data-toggle="modal" data-target="#blocked" id="blocked-modal"><i class="fa fa-ban"></i></a></li>
                                <li class="add-footballer" data-id="{{ footballer.id }}" style="display: none"><a style="cursor: pointer" data-id="{{ footballer.id }}" title="Ajouter le footballeur"><i class="fa fa-user-plus"></i></a></li>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li style="color: white; font-weight: bold;"><a href="{{ path('footballer_view_friends',{id:footballer.id}) }}">{{ footballer.numberFriends }} ami{% if footballer.numberFriends > 1 %}s{% endif %}</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div><!--Timeline Menu for Small Screens End-->
    </div>
