{% extends 'base.html.twig' %}

{% block body %}
    <!-- Preloader Start -->
    <main>
        <!--? slider Area Start-->
        <div class="slider-area position-relative">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-9 col-md-8 col-sm-9">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay="0.1s">Skillfoot - Le réseau social qui met en relation les footballeurs et les recruteurs</span>
                                    <h1 data-animation="fadeInLeft" data-delay="0.1s">Mettez toutes les chances de votre coté, Skillfoot vous fait la passe.</h1>
                                    <a href="{{ path('pre_signup') }}" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.1s">Inscrivez-vous dès maintenant</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
{#                <div class="single-slider slider-height d-flex align-items-center">#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">#}
{#                                <div class="hero__caption">#}
{#                                    <span data-animation="fadeInLeft" data-delay="0.1s">with patrick potter</span>#}
{#                                    <h1 data-animation="fadeInLeft" data-delay="0.1s">Build Perfect body Shape for good and Healthy life.</h1>#}
{#                                    <a href="from.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.1s">became a member</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <!-- Video icon -->
            <!--<div class="video-icon">-->
                <!--<a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>-->
            <!--</div>-->
        </div>
        <!-- slider Area End-->
        <!--? About Area Start -->
        <section class="about-area section-padding30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="{{ asset('img/gallery/ronaldo.jpg') }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle3 mb-35">
                                <span>Skillfoot</span>
                                <h2>Découvrez Skillfoot, votre plate-forme sociale de mise en relation.</h2>
                            </div>
                            <p class="pera-top">Skillfoot est une solution crée par des passionnés du football et du numérique, son but est simple : un outil de mise en relation entre (terme a remplacer) du football et joueurs couplé à un réseau social dédié au sport.</p>
                            <p class="mb-65 pera-bottom">Notre solution est gratuite, joueurs désireux de faire carrière dans le football, passionnés, spectateurs, supporters, notre solution possède des fonctionnalités pour tout les acteurs du football.</p>
                            <p class="mb-65 pera-bottom">La balle est dans votre camp !</p>
                            <a href="{{ path('pre_signup') }}" class="btn">Inscrivez-vous dès maintenant</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-2 Area End -->
        <!--? About-2 Area Start -->
        <section class="about-area section-padding30">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="{{ asset('img/gallery/messi.jpg') }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle3 mb-35">
                                <span>Qui sommes-nous</span>
                                <h2>Skillfoot est né de la volonté de proposer une solution utile, efficace et pensée pour tout les acteurs du foot.</h2>
                            </div>
                            <p class="pera-top">Ce projet à vu le jour au sein d'une équipe de 4 entrepreneurs, passionnés par le Football et les technologies de l'information au point de vouloir contribuer aux deux univers.</p>
                            <p class="mb-65 pera-bottom">Nous avons donc entrepris de développer pour vous une application qui ressemble aux joueurs, aux supporters, aux gérants de clubs, aux agents et à tout les acteurs de ce merveilleux univers.</p>
                            <p class="mb-65 pera-bottom">A vous de jouer !</p>
                            <a href="{{ path('pre_signup') }}" class="btn">Inscrivez-vous dès maintenant</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-2 Area End -->

    </main>

    <!-- Scroll Up -->
{% endblock %}
