<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            {% if is_granted('ROLE_AGENT') %}
                <div class="header__logo">
                    <a href="{{ path('agent_home') }}">
                        <img src="images/icon/logo-white.png" alt="Logo skillfoot" />
                    </a>
                </div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('agent_messages') }}">
                                <i class="fas fa-envelope"></i>
                                <span class="bot-line"></span>Mes messages</a>
                        </li>
                    </ul>
                </div>
            {% else %}

                <div class="header__logo">
                    <a href="#">
                        <img src="images/icon/logo-white.png" alt="Logo skillfoot" />
                    </a>
                </div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">
                                <i class="fas fa-user"></i>
                                <span class="bot-line"></span>Tableau de bord</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-user"></i>
                                <span class="bot-line"></span>Les footballeurs</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-user"></i>
                                <span class="bot-line"></span>Les recruteurs</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            {% if is_granted('ROLE_AGENT') %}
                <div class="header__tool">
                    <div class="account-wrap">
                        <div class="account-item account-item--style2 clearfix js-item-menu">
                            <div class="image">
                                {% if app.user.user is not null %}
                                    <img src="{{ asset(agent_photo_profil_directory~'/'~app.user.id~'/'~app.user.user.profilPhoto) }}" alt="{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}" />
                                {% else %}
                                    <img src="{{ asset('img/default/profil-agent.png') }}" alt="" class="img-responsive profile-photo" />
                                {% endif %}
                            </div>
                            <div class="content">
                                <a class="js-acc-btn">{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <img src="{{ asset(agent_photo_profil_directory~'/'~app.user.id~'/'~app.user.user.profilPhoto) }}" alt="{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}" />
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}</a>
                                        </h5>
                                        <span class="email">{{ app.user.username }}</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="{{ path ("agent_setting_photo") }}">
                                            <i class="zmdi zmdi-camera"></i>Changer ma photo de profil</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="{{ path ("agent_setting") }}">
                                            <i class="zmdi zmdi-account"></i>Mes informations personelles</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="{{ path ("agent_password") }}">
                                            <i class="zmdi zmdi-settings"></i>Modifier mon mot de passe</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="{{ path('logout')}}"><i class="zmdi zmdi-power"></i>Déconnexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="header__tool">
                    <div class="account-wrap">
                        <div class="account-item account-item--style2 clearfix js-item-menu">
                            <div class="image">
                                <img src="images/icon/avatar-01.jpg" alt="{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}" />
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href="#">{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href="#">
                                            <img src="images/icon/avatar-01.jpg" alt="{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href="#">{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}</a>
                                        </h5>
                                        <span class="email">{{ app.user.username }}</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="{{ path ("admin_setting") }}">
                                            <i class="zmdi zmdi-account"></i>Modifier mon compte</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="{{ path ("admin_password") }}">
                                            <i class="zmdi zmdi-settings"></i>Modifier mon mot de passe</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__footer">
                                    <a href="{{ path('logout')}}">
                                        <i class="zmdi zmdi-power"></i>Déconnexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->

<!-- HEADER MOBILE-->
<header class="header-mobile header-mobile-2 d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                {% if is_granted('ROLE_AGENT') %}
                    <a class="logo" href="{{ path('agent_home') }}">
                        <img src="images/icon/logo-white.png" alt="Logo skillfoot" />
                    </a>
                {% else %}
                    <a class="logo" href="{{ path('admin_home') }}">
                        <img src="images/icon/logo-white.png" alt="Logo skillfoot" />
                    </a>
                {% endif %}
                <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                {% if is_granted('ROLE_AGENT') %}
                    <li>
                        <a href="{{ path('agent_home') }}">
                            <i class="fas fa-home"></i>
                            <span class="bot-line"></span>Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('agent_messages') }}">
                            <i class="fas fa-envelope"></i>
                            <span class="bot-line"></span>Mes messages</a>
                    </li>
                {% else %}
                    <li>
                        <a href="#">
                            <i class="fas fa-user"></i>
                            <span class="bot-line"></span>Tableau de bord</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-user"></i>
                            <span class="bot-line"></span>Les footballeurs</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-user"></i>
                            <span class="bot-line"></span>Les recruteurs</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>


<div class="sub-header-mobile-2 d-block d-lg-none">
    <div class="header__tool">
        <div class="header-button-item has-noti js-item-menu">
            <i class="zmdi zmdi-notifications"></i>
            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                <div class="notifi__item">
                    <div class="bg-c1 img-cir img-40">
                        <i class="zmdi zmdi-email-open"></i>
                    </div>
                    <div class="content">
                        <p>You got a email notification</p>
                        <span class="date">April 12, 2018 06:50</span>
                    </div>
                </div>
                <div class="notifi__footer">
                    <a href="#">All notifications</a>
                </div>
            </div>
        </div>
        <div class="account-wrap">
            <div class="account-item account-item--style2 clearfix js-item-menu">
                <div class="image">
                    {% if app.user.user is not null %}
                        <img src="{{ asset(agent_photo_profil_directory~'/'~app.user.id~'/'~app.user.user.profilPhoto) }}" alt="{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}" />
                    {% else %}
                        <img src="{{ asset('img/default/profil-agent.png') }}"/>
                    {% endif %}
                </div>
                <div class="content">
                    <a class="js-acc-btn" href="#">{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}</a>
                </div>
                <div class="account-dropdown js-dropdown">
                    <div class="info clearfix">
                        <div class="image">
                            <a href="#">
                                {% if app.user.user is not null %}
                                    <img src="{{ asset(agent_photo_profil_directory~'/'~app.user.id~'/'~app.user.user.profilPhoto) }}" alt="{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}" />
                                {% else %}
                                    <img src="{{ asset('img/default/profil-agent.png') }}" alt="" class="img-responsive profile-photo" />
                                {% endif %}                            </a>
                        </div>
                        <div class="content">
                            <h5 class="name">
                                <a href="#">{% if app.user.user is not null %}{{ app.user.user.name }} {{ app.user.user.firstName }}{% endif %}</a>
                            </h5>
                            <span class="email">{{ app.user.username }}</span>
                        </div>
                    </div>
                    <div class="account-dropdown__body">
                        <div class="account-dropdown__item">
                            <a href="{{ path ("agent_setting_photo") }}">
                                <i class="zmdi zmdi-camera"></i>Changer ma photo de profil</a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="{{ path ("agent_setting") }}">
                                <i class="zmdi zmdi-account"></i>Mes informations personelles</a>
                        </div>
                        <div class="account-dropdown__item">
                            <a href="{{ path ("agent_password") }}">
                                <i class="zmdi zmdi-settings"></i>Modifier mon mot de passe</a>
                        </div>
                    </div>
                    <div class="account-dropdown__footer">
                        <a href="{{ path('logout')}}"><i class="zmdi zmdi-power"></i>Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HEADER MOBILE -->
